<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nome</label>
    <input type="email" class="form-control" id="nome" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Data de Nascimento</label>
    <input type="email" class="form-control" id="datanasc" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Valor</label>
    <input type="email" class="form-control" id="valor" placeholder="name@example.com">
</div>
<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Comentário</label>
    <textarea class="form-control" id="comentário" rows="3"></textarea>
</div>